body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #F5FAE1;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.logo{
  width: 150px;
  height: 150px;
  float: left;
}

.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
  clear: left;

}
.card{
  width: 45%;

}
.left{
  margin-right: 20px;
  float: left;
}
.right{
  margin-right: 20px;
  float: right;
}

.tile-image{
  margin-right: 20px;
  width: 300px;
  height: 400px;
  float: left;
  
}

.span{
  color: #FCC61D;
}


footer {
  text-align: right;
  color: midnightblue;
  clear: both;
}

@media (min-width:481px) and (max-width:1200px) {
  body {
    margin: 20px;
  }

  .logo{
    width: 100px;
    height: 100px;
  }

  h1 {
    font-size: 4rem;
    text-align: center;
    padding: 50px;

  }

  .card {
    width: 100%;
    margin-bottom: 80px;
    text-align: center;
    float: none;
  }
  h2, p{
    text-align: left;
  }
  .tile-image {
    text-align: center;
    width: 200px;
    height: 250px;
    float: none;
    margin-bottom: 10px;
  }

  footer {
    text-align: center;
  }
}
